@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-image: url('assets/images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.crazy-bg {
  background-image: url('assets/images/crazy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 640px) {
  .crazy-bg {
    background-image: url('assets/images/crazy-mobile.png');
  }
}
.menu-hide {
  width: 0px;
  height: 0px;
  transition: height 0.5s;
}

.menu-animation {
  background-image: url('assets/images/mobile-menu.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #F7FAFC;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color:#CE2179;
  gap: 8%;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  transition: opacity 0.5s;
}